.page-demo {
    padding: 24rpx 0;
    background: #f7f8fa;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}
.block {
    background: #fff;
}
.version {
    position: fixed;
    left: 0;
    right: 0;
    bottom: calc(48rpx + env(safe-area-inset-bottom));
    text-align: center;
    font-size: 24rpx;
    color: #999;
    line-height: 1.5;
}
